@font-face {
  font-family: 'LittleQuotes';
  src: url('../assets/LittleQuotes.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background: linear-gradient(to right, #20626c, #a97053);
}

.container {
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quote-generator {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  max-width: 700px;
  width: 100%;
  border-radius: 14px;
  background: rgba(237, 237, 237, 0.55);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 120px;
  font-size: 44px;
  line-height: 1;
  font-family: 'LittleQuotes', sans-serif;

  &__text {
    gap: 5px;
    align-items: flex-start !important;
  }
}

#quoteText:empty::before {
  content: none;
}

.hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.visible {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.button {
  background: rgba(237, 237, 237, 0.55);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 10px 20px;
  border: none;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2),
    -4px -4px 10px rgba(255, 255, 255, 0.5);
  outline: 2px solid transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease, outline-color 0.3s ease-in-out;
}

.button:hover {
  transform: translateY(-3px);
}

.button:active {
  transform: translateY(1px);
  box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2),
    inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.button:focus {
  outline-color: #333333;
}

.icon-mask {
  display: flex;
  align-items: center;

  &::before {
    content: '';
    width: 32px;
    height: 32px;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
  }
}

.icon-twitter {
  &::before {
    mask-image: url('../assets/icon-twitter.svg');
  }
}

.icon-quote {
  &::before {
    mask-image: url('../assets/icon-quote.svg');
  }
}