:root {

  --c-neutral-white: #F5F5F5;

  --c-shadow-black: #212121;

}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.search {
  position: relative;
  display: flex;
  gap: 10px;
  height: 40px;
  width: 40px;

  &--active {
    & .search__input {
      width: 200px;
    }

    & .search__button {
      transform: translateX(198px);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.search__input,
.search__button {
  overflow: hidden;
  height: 40px;
  width: 40px;
  padding: 10px;
  border: 2px solid var(--c-shadow-black);
  background-color: var(--c-neutral-white);
  transition: width 1s ease-in-out, transform 1s ease-in-out;

  &:hover {
    border-color: red;
  }

  &:active {
    background-color: #acb7c0;
  }

  &:focus {
    border-color: #b4e0e7;
  }
}

.search-second {

  &--active {
    & .search__input {
      width: 200px;
      transform: translateX(38px);
    }
  }
}

.search-third {

  &--active {
    & .search__input {
      width: 200px;
      transform: translateX(-198px);
    }
  }

  &__button {
    right: 0;
  }

}