:root {
  --c-curious-blue: #3498db;
  --c-white: #ffffff;
  --c-hit-gray: #a0abb4;
  --c-light-gray: #333333;
}

body {
  background-color: #e0e0e0;
  color: var(--c-light-gray);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 100px;
    font-weight: 700;
    color: #ffffff;
  }
}

.loading-bg {
  position: absolute;
  width: 100svw;
  height: 100svh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(100px);
  background-image: url('../assets/bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}