@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1000px;
  font-family: Bebas Neue, sans-serif;
}

.infinity-scroll {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 82px;
  }

  &__label {
    max-width: 400px;
    width: 100%;
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 16px;
    background-color: #000;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  &__item {
    position: relative;
    cursor: pointer;

    &:hover {
      .details {
        bottom: 0;
      }
    }
  }

  &__photo {
    width: 100%;
    height: auto;
  }
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: bottom 0.3s ease-in-out;

  &__photographer {
    display: flex;
    gap: 8px;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  font-size: 40px;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background:
    linear-gradient(90deg, #0000 33%, #000 0 67%, #0000 0) 0/300% 100% no-repeat text;
  animation: l2 2s linear infinite;
}

.loader:before {
  content: "Loading";
}

@keyframes l2 {
  0% {
    background-position: 100%
  }
}